:root {
	--font-sans-serif: Lato, sans-serif;
	--font-serif: Cormorant Garamond, serif;
	--black: #000;
	--gray-light: #aeaeae;
	--gray-dark: #353434;
	--white: #fff;
	--blue-light: #93adc0;
	--red: #a72825;
}
html {
	box-sizing: border-box;

}

*,
*:before
*:after {
	box-sizing: inherit;
}

body {
	font-family: Lato, sans-serif;
	font-weight: 300;
	color: var(--black);
	line-height: 2;
	border: 1px solid red;
	text-align: center;

}

h1, h2, h3 {
	font-family: Cormorant Garamond, serif;
	color: var(--white);
	font-size: 100%;
	line-height: 1.2;
	font-weight: 400;
	background-image: url("../img/books.jpg");
}


h2 {
	font-size: 130%;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	color: var(--black);
	font-family: Lato, sans-serif;
	background-color: white;
	background-image: none;
	text-transform: uppercase;
	font-weight: 800;
}
	

a {
	color: var(--blue-light);
}

img {
	display: block;
	max-width: 100%;
}
.component img {
	max-width: initial;
}
.component__img {
	border: 1px solid red;
	oveflow-x: auto;
}