:root {
	--font-sans-serif: Lato, sans-serif;
	--font-serif: Cormorant Garamond, serif;
	--black: #000;
	--gray-light: #aeaeae;
	--gray-dark: #353434;
	--white: #fff;
	--blue-light: #93adc0;
	--red: #a72825;
}
html {
	box-sizing: border-box;

}

*,
*:before
*:after {
	box-sizing: inherit;
}

body {
	font-family: Lato, sans-serif;
	font-weight: 300;
	color: var(--black);
	line-height: 2;
	border: 1px solid red;
	text-align: center;


}

h1, h2, h3, h4 {
	font-family: Cormorant Garamond, serif;
	color: var(--black);
	line-height: 1.2;
	font-weight: 400;
	
}

h1 {
	color: white;
	font-size: 4em;
}
	

h2 {
	font-size: 130%;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	color: var(--black);
	font-family: Lato, sans-serif;
	background-color: white;
	background-image: none;
	text-transform: uppercase;
	font-weight: 800;
}

ul {
	
	list-style-type: none;
	text-transform: uppercase;
	margin-block-start: 0;
	font-family: Cormorant Garamond;
	display: flex;
	align-items: center;
	padding-inline-start: 0;
}

li {
	padding: 20px 40px 20px 0px;
	text-decoration: none;
	color: var(--black) !important;
}
	

a {
	color: var(--blue-light);
}


img {
	display: block;
	max-width: 100%;
}

button {
	padding: 10px 25px;
	margin: 10px;
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	border: none;
	background-color: var(--blue-light);
	color: white;
	font-weight: bold;

}


.header_background_image {
background-image: url("../img/books.jpg");
padding: 50px 100px 50px 100px

}
.header_background_image h2 {
	color: white;
	padding: 50px 0 0 0;
	font-size: 1em;


}

.header_background_image h1 {
	margin: 0;
}
.header_background_image button {
	margin: 10px;
}


}
.component img {
	max-width: initial;
}
.component__img {
	border: 1px solid red;
	oveflow-x: auto;
}
.blog-image {
	width: 50%; 
    height: auto; 
    object-fit: contain
}

.blog-post h2 {
	text-align: left;
	text-transform: lowercase;
}

.blog-post p {
	text-align: left;
	font-size: small;
}

.component__code {
	max-width: 45em;
	margin: auto;
}

.nav-list a {
	color: var(--black);
	text-decoration: none;
}

.blog-post-container h4 {
	color: var(--blue-light);
	text-align: left;
	text-transform: uppercase;
}

.nav-bar-items {
	display: flex;
	justify-content: flex-start;
	text-align: left;
	margin: 0;
}

.nav-icon {
	padding: 0;
	
}

.about  {
	color: var(--white);
	background-color: var(--gray-dark);
}

.about h1 h2 {
	color: var(--white);
	background-color: var(--gray-dark);
}

}

