<!doctype html>
<html lang="eng">
	<head>
	<meta charset="utf-8">
		<title>Components Milkweed Books</title>

		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		
	</head>

	<body>
		<h1>Web Components</h1>
		<h2>Typography Defaults</h2>

		<article class="component">
			<h3 class="component__name">body</h3>
				<div class="component__img">
					<img 
					srcset="img/section.png 2x"
					src="img/section.png"
					alt="body copy">
				</div>

<div class="compoent__code">
	<p><b>Milkweed Books is (partially) open.</b>We are taking book orders on the phone (612-215-2540) and via email <a href="#!">(bookstore@milkweed.org)</a> Monday - Friday from 10 AM to 6 PM.
Books will be shipped to you.</p>

<p>You can also <b>order online via</b> <a href="https://bookshop.org/shop/milkweed_books">Bookshop.org.</a> We are not doing curbside or in-store business at this time.</p>

<p>At this time, we are not accepting new subscribers for our book subscription services.</p>

<h3><b>CONTACT THE BOOKSTORE</b></h3>
Call us Monday - Friday between 10 AM and 6 PM, or send us an email to <a href="#!">bookstore@milkweed.org</a>. You can also reach out directly to <a href="#!">Bailey Hutchinson</a>, the bookseller at Milkweed Books. <b>NOTE:</b> if you have inquiries about an online purchase through our website of a Milkweed Editions title, please email <a href="#!">orders@milkweed.org</a>.</p>

<p>1011 Washington Avenue South, Suite 107<br>
Minneapolis, MN 55415</p>

<p>Milkweed Books is located on the first floor of <a href="https://www.openbookmn.org/">Open Book</a>, the nation's largest literary arts center. In addition to serving as home to Milkweed Editions, Milkweed Books, the Loft Literary Center, and the Minnesota Center for Book Arts, the building offers a coffee shop/bistro, a literary commons, and event space.</p>
</div>
</article>

<article class="component">
	<h3 class="component__name">List Items</h3>
		<div class="component__img">
			<img 
			srcset="img/nav-bar__list.png 2x"
			src="img/section.png"
			alt="List Items">
		</div>

	<div class="compoent__code">
		<nav>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="https://milkweed.org/booksl">Books</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/authors">Authors</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/events">Events</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/bookstore">Bookstore</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/blog">Blog</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/our-story">Our Story</a></li>
			</ul>
	</div>
</article>


		<article class="component">
			<h3 class="component__name">Headings H1 H2 H3</h3>
				<div class="component__img">
					<img srcset="img/h1.png 2x" src="img/h1.png" alt="h1">
					<img srcset="img/h2.png 2x" src="img/h2.png" alt="h2">
					<img srcset="img/h3.png 2x" src="img/h3.png" alt="h3">
				</div>

<div class="compoent__code">
	<h1>Milkweed Books</h1>
	<h2>An Independent Bookstore</h2>
	<h3>Contact the bookstore</h3>
</div>
</article>

<article class="component">
			<h3 class="component__name">Blog Post</h3>
				<div class="component__img">
					<img 
					srcset="img/blog-post.png 2x"
					src="img/blog-post.png"
					alt="Blog Post">
				</div>

				<div class="compoent__code">
					
					<h4>Blog Post</h4>
						<article class="blog-post">
							<div>
							<img src="../img/blog-post.png" alt=" images of book covers">
						</div>
							<h2>Bookseller Recommendations:<br>
							September</h2>
							<p> Milkweed Staff--<date>09/08/2020</date><br>
							real people recommend good books we think you'll like, too!</p>
						</article>
				</div>
</article>

		
	</body>
	</html>