<!doctype html>
<html lang="eng">
	<head>
	<meta charset="utf-8">
		<title>Components Milkweed Books</title>

		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		
	</head>

	<body>
		<h1>Web Components</h1>
		<h2>Typography Defaults</h2>

<!----------------------BODY---------------------------->

		<article class="component">
			<h3 class="component__name">body</h3>
				<div class="component__img">
					<img 
					srcset="img/section.png 2x"
					src="img/section.png"
					alt="body copy">
				</div>

<div class="component__code">
	<p><b>Milkweed Books is (partially) open.</b>We are taking book orders on the phone (612-215-2540) and via email <a href="#!">(bookstore@milkweed.org)</a> Monday - Friday from 10 AM to 6 PM.
Books will be shipped to you.</p>

<p>You can also <b>order online via</b> <a href="https://bookshop.org/shop/milkweed_books">Bookshop.org.</a> We are not doing curbside or in-store business at this time.</p>

<p>At this time, we are not accepting new subscribers for our book subscription services.</p>

<h3><b>CONTACT THE BOOKSTORE</b></h3>
Call us Monday - Friday between 10 AM and 6 PM, or send us an email to <a href="#!">bookstore@milkweed.org</a>. You can also reach out directly to <a href="#!">Bailey Hutchinson</a>, the bookseller at Milkweed Books. <b>NOTE:</b> if you have inquiries about an online purchase through our website of a Milkweed Editions title, please email <a href="#!">orders@milkweed.org</a>.</p>

<p>1011 Washington Avenue South, Suite 107<br>
Minneapolis, MN 55415</p>

<p>Milkweed Books is located on the first floor of <a href="https://www.openbookmn.org/">Open Book</a>, the nation's largest literary arts center. In addition to serving as home to Milkweed Editions, Milkweed Books, the Loft Literary Center, and the Minnesota Center for Book Arts, the building offers a coffee shop/bistro, a literary commons, and event space.</p>
</div>
</article>

<!----------------------BODY---------------------------->

<!----------------------LIST-ITEMS---------------------->

<article class="component">
	<h3 class="component__name">List Items</h3>
		<div class="component__img">
			<img 
			srcset="img/nav-bar__list.png 2x"
			src="img/section.png"
			alt="List Items">
		</div>

	<div class="component__code">
		<nav>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="https://milkweed.org/booksl">Books</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/authors">Authors</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/events">Events</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/bookstore">Bookstore</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/blog">Blog</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/our-story">Our Story</a></li>
			</ul>
	</div>
</article>

<!----------------------LIST-ITEMS---------------------->

<!----------------------HEADINGS------------------------>

		<article class="component">
			<h3 class="component__name">Headings H1 H2 H3</h3>
				<div class="component__img">
					<img srcset="img/h1.png 2x" src="img/h1.png" alt="h1">
					<img srcset="img/h2.png 2x" src="img/h2.png" alt="h2">
					<img srcset="img/h3.png 2x" src="img/h3.png" alt="h3">
				</div>

<div class="component__code">
	<div class="header_background_image">
	<h1>Milkweed Books</h1>
	<h2>An Independent Bookstore</h2>
</div>
	<h3>Contact the bookstore</h3>
</div>
</article>

<!----------------------HEADINGS------------------------>

<!----------------------BLOG-POST----------------------->

<article class="component">
			<h3 class="component__name">Blog Post</h3>
				<div class="component__img">
					<img 
					srcset="img/blog-post.png 2x"
					src="img/blog-post.png"
					alt="Blog Post">
				</div>

				<div class="component__code blog-post-container">
					
					<h4>Blog Post</h4>
						<article class="blog-post">
							<img src="../img/blog-post.png" class="blog-image" alt=" images of book covers">
							<h2>Bookseller Recommendations:<br>
							September</h2>
							<p> Milkweed Staff--<date>09/08/2020</date><br>
							real people recommend good books we think you'll like, too!</p>
						</article>
				</div>
</article>

<!----------------------BLOG-POST----------------------->

<!----------------------BUTTON-------------------------->

<article class="component">
			<h3 class="component__name">button</h3>
				<div class="component__img">
					<img 
					srcset="img/contact__button.png 2x"
					src="img/contact__button.png"
					alt="button">
				</div>

<div class="component__code">
	<button>See all Milkweed editions staff</button>

	</div>
</article>

<!-----------------------BUTTON------------------------->

<!-----------------------NAV-BAR------------------------>

<article class="component">
			<h3 class="component__name">nav-bar</h3>
				<div class="component__img">
					<img 
					srcset="img/nav-bar.png 2x"
					src="img/nav-bar.png"
					alt="body copy">
				</div>

<div class="component__code nav-bar-items">


	<img class="logo" src="../img/logo.png" alt="blue logo of a butterfly">
	
			<ul class="nav-list">
				<li class="nav-list-item"><a href="https://milkweed.org/booksl">Books</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/authors">Authors</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/events">Events</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/bookstore">Bookstore</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/blog">Blog</a></li>
				<li class="nav-list-item"><a href="https://milkweed.org/our-story">Our Story</a></li>
			</ul>

			
			<ul>
				<li class="nav-icon"><a href="https://milkweed.org/our-story"><img src="../img/profile.png" alt="icon of person"></a></li>
				<li class="nav-icon"><a href="https://milkweed.org/cart"><img src="../img/books.jpg" alt="icon of shopping bag"></a></li>
				<li class="nav-icon"><a href="https://milkweed.org/search/content/t"><img src="../img/search.png" alt="icon of magnifying glass"></a></li>
			</ul>

	</div>
</article>

<!-----------------------NAV-BAR------------------------>


<!-----------------------HERO--------------------------->

<article class="component">
			<h3 class="component__name">Hero</h3>
				<div class="component__img">
					<img 
					srcset="img/hero.png 2x"
					src="img/hero.png"
					alt="books with title and subtitle">
				</div>

<div class="component__code header_background_image">
	<h2>An Independent Bookstore</h2>
	<h1>Milkweed Books</h1>
	<button>Play Video</button>
	<button>Sign up for Newsletter</button>
	</div>
</article>

<!-----------------------HERO--------------------------->


<!-----------------------ABOUT--------------------------->

<article class="component">
			<h3 class="component__name">About</h3>
				<div class="component__img">
					<img 
					srcset="img/section__about__paragraph.png 2x"
					src="img/section__about__paragraph.png"
					alt="books with title and subtitle">
				</div>

<div class="component__code about">

		<h2>About Milkweed Books</h2>

		<h3>Named 2017 Best Bookstore By Citypages</h3>

	<p>Milkweed Books is a part of Milkweed Editions, but this doesn't mean we only sell books we ourselves publish. Instead, the store's mix of titles reflects our mission: Milkweed Books showcases and sells titles primarily published by independent presses, nonprofit presses, and other publishers working to bring the most exciting literary art to the marketplace. If you want to find the best new poetry, experimental or creative nonfiction, short stories, or translations, this is the bookstore for you.</p>

	<p>We also offer events, membership, and multiple subscription services.</p>
</div>
</article>



<!-----------------------ABOUT--------------------------->


<!-----------------------CONTACT------------------------->

<article class="component">
			<h3 class="component__name">Contact Us</h3>
				<div class="component__img">
					<img 
					srcset="img/section__contact.png 2x"
					src="img/contact.png"
					alt="Image of person to contact">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------CONTACT------------------------->


<!-----------------------CAROUSEL------------------------>

<article class="component">
			<h3 class="component__name">Blog Carousel</h3>
				<div class="component__img">
					<img 
					srcset="img/carousel.png 2x"
					src="img/carousel.png"
					alt="Slides of blog posts">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------CAROUSEL------------------------->


<!-----------------------EVENTS--------------------------->

<article class="component">
			<h3 class="component__name">Events</h3>
				<div class="component__img">
					<img 
					srcset="img/.png 2x"
					src="img/.png"
					alt="">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------EVENTS------------------------->



<!-----------------------FOOTER------------------------->

<article class="component">
			<h3 class="component__name">Footer</h3>
				<div class="component__img">
					<img 
					srcset="img/footer.png 2x"
					src="img/footer.png"
					alt="">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------FOOTER------------------------>

<!-----------------------EVENTS-EVENT------------------>

<article class="component">
			<h3 class="component__name">Events-event</h3>
				<div class="component__img">
					<img 
					srcset="img/section-events-event.png 2x"
					src="img/section-events-event.png"
					alt="">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------EVENTS-EVENT------------------->

<!-----------------------EVENTS------------------------->

<article class="component">
			<h3 class="component__name">Events</h3>
				<div class="component__img">
					<img 
					srcset="img/section-events.png 2x"
					src="img/section-events.png"
					alt="">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------EVENTS------------------------>


<!-----------------------STORY------------------------->

<article class="component">
			<h3 class="component__name">Milkweed's Story</h3>
				<div class="component__img">
					<img 
					srcset="img/section-story.png 2x"
					src="img/section-story.png"
					alt="">
				</div>
<div class="component__code">

</div>
</article>

<!-----------------------STORY------------------------>





		
	</body>
	</html>